{% extends "base.html" %}

{% block title %}
ABOUT|Sander Kaatee
{% endblock %}

{% block content %}
<section id="about">
  <div class="container">
    <div class="row">
        <div class="col-md-3">
          <h2>Who am I?</h2>
        </div>
        <div class="col-md-9">
          <p>
              My name is Sander Kaatee (born 1996). I hold a Bachelor's degree in Artificial Intelligence from the University of Groningen. 
              I've been producing music since the age of 14, some of which you can listen to and read about on <a href="{{ url_for('music') }}">my music page</a>. 
              In addition to music production, I also engage in programming projects that interest me. You can explore these in <a href="{{ url_for('projects') }}">my projects section</a>.
              You're welcome to <a href="{{ url_for('static', filename='docs/CV.pdf') }}">view my CV here</a> or 
              <a href="https://www.linkedin.com/in/sander-kaatee-a598a5156/">check out my LinkedIn profile</a>. 
              If you'd like to get in contact, feel free to <a href="mailto:sanderkaatee@outlook.com">send me an email</a>.
            </p>
        </div>
      </div>
    <div class="row margin-top-45">
        <div class="col-md-3">
        <h2>Why this website</h2>
      </div>
      <div class="col-md-9">
        <p>
            I wanted a place to display the things I do, and I hope to add more over time. I also sort of dislike how centralized the Internet has become; most of what we do online is in the hands of a few companies like Google, Microsoft, Meta, etc. I believe the proprietary nature of software owned by companies that play such a crucial role in our society carries significant inherent risk. Therefore, this website serves as a small step away from centralized social media. I built the website using Flask and JavaScript. You can <a href="https://github.com/SanderKaatee/website/">find the source code on my GitHub</a>. It's based on a template by Nicola Tolin; you can <a href="{{ url_for('credits') }}">find out more in the credits section</a>.
          </p>          
        <br>

          
      </div>
    </div>
  </div>
</section>
{% endblock %}
