{% extends "base.html" %}

{% block title %}
  WELCOME | Sander Kaatee
{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="span12">
    <div class="col-md-6 no-gutter text-center fill">
      <h2 class="vcenter">Hi - welcome to my website</h2>
      <br>
      <p class="vcenter">You can checkout my music, my projects or read my cv</p>
    </div>

    <div class="col-md-6 no-gutter text-center">
      <div id="header" data-speed="2" data-type="background">
        <div id="headslide" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="{{ url_for('static', filename='img/profilepicture.jpg') }}" alt="Slide">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both;"></div>
{% endblock %}
