{% extends "base.html" %}

{% block title %}
MUSIC| Sander Kaatee
{% endblock %}

{% block content %}
<section id="portfolio">
    <div class="container">
        <ul class="portfolio-sorting list-inline text-center">
            <li class="portfolio-menu"><a href="#" data-group="nbtb" class="active">Never Been To Berlin</a></li>
            <li class="portfolio-menu"><a href="#" data-group="gally">Gally</a></li>
            <li class="portfolio-menu"><a href="#" data-group="mnpc">Midnight Phone Carl</a></li>
            <li class="portfolio-menu"><a href="#" data-group="pc">Punani Collective</a></li>
        </ul>
        <div class="container">
            <div class="row" data-gallery-title="Gallery">
                <ul class="list-unstyled" id="grid">

                    {% include 'musichtml/nbtb.html' %}
                    {% include 'musichtml/mnpc.html' %}
                    {% include 'musichtml/pc.html' %}
                    {% include 'musichtml/gally.html' %}
                    
                </ul>
            </div>
        </div>
    </div>    
</section>
{% endblock %}

{% block scripts %}
<script id="filter">
    shuffleme.setDefaultFilter("nbtb");
    shuffleme.init();
</script>
<script src="{{ url_for('static', filename='js/lightbox-plus-jquery.js') }}"></script>
{% endblock %}