<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>MUSIC| Sander Kaatee</title>
      <!-- Css -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/lightbox.css" rel="stylesheet" type="text/css" media="all" />
      <link href="css/style.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="col-md-12">
            <div class="nav">
               <button class="btn-nav">
               <span class="icon-bar inverted top"></span>
               <span class="icon-bar inverted middle"></span>
               <span class="icon-bar inverted bottom"></span>
               </button>
            </div>
            <a class="navbar-brand" href="index.html">
            <img class="logo" src="img/logo.png" alt="logo">
            </a>
            <div class="nav-content hideNav hidden">
               <ul class="nav-list vcenter">
                  <li class="nav-item"><a class="item-anchor" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="item-anchor" href="about.html">About</a></li>
                  <li class="nav-item"><a class="item-anchor" href="work.html">Work</a></li>
                  <li class="nav-item"><a class="item-anchor" href="music.html">Music</a></li>
                  <li class="nav-item"><a class="item-anchor" href="projects.html">Projects</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <section id="portfolio">
         <div class="container">
            <ul class="portfolio-sorting list-inline text-center">
               <li class="portfolio-menu"><a href="#" data-group="nbtb" class="active">Never Been To Berlin</a>
               </li>
               <li class="portfolio-menu"><a href="#" data-group="mnpc">Midnight Phone Carl</a>
               </li>
               <li class="portfolio-menu"><a href="#" data-group="pc">Punani Collective</a>
               </li>
            </ul>
            <div class="row margin-top-15">
               <div class="row" data-gallery-title="Gallery">
                     <!-- https://vestride.github.io/Shuffle/ -->
                     <ul class="list-unstyled" id="grid">
                        <!-- NEVER BEEN TO BERLIN -->
                        <li class="col-md-12" data-groups='["nbtb"]'>
                           <img class="banner" src="./img/nbtb_banner_5_1.jpg" data-groups='["nbtb"]'>
                           <div class="row">
                              <div class="col-md-3">
                                 <h2>Biography</h2>
                              </div>
                              <div class="col-md-9">
                                 <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula libero auctor dolor vulputate varius. Nunc ac nisl non felis finibus ultricies. Donec at porttitor lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin volutpat augue ex. In hac habitasse platea dictumst. Suspendisse at ante ligula. Nulla facilisis velit egestas massa imperdiet, id posuere turpis feugiat.
                                 </p>
                                 <br>
                                 <p>  
                                    Etiam at consectetur sapien, vel laoreet diam. Aliquam erat volutpat. Quisque fermentum purus ac justo fermentum vulputate eu id libero. Donec quam ipsum, malesuada nec interdum in, commodo vel nisl. Aliquam erat volutpat. Donec suscipit molestie urna, at pharetra tortor interdum eget. Ut lobortis viverra ex, quis faucibus sapien iaculis in. Suspendisse laoreet ornare justo sit amet fermentum. Pellentesque non nulla id libero pretium bibendum vel nec dolor. 
                                 </p>
                              </div>
                           </div>
                           <div class="row margin-top-30">
                              <div class="col-md-3">
                                 <h2>Social media / Listen</h2>
                              </div>
                              <div class="col-md-9">
                                 <div class="row">
                                    <div class="col-md-4">
                                       <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/5YUMKJYukyjJIoUld2fTiX?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                                    </div>
                                    <div class="col-md-4">
                                       <ul class="list-unstyled">
                                          <li><a href="https://www.instagram.com/neverbeentoberlin/"><img src="img/icons/instagram.png" class="inline-img">Instagram</a></li>
                                          <li><a href="https://open.spotify.com/artist/5YUMKJYukyjJIoUld2fTiX?si=AEipB7vnQWOPwUQ5S-lgCQ"><img src="img/icons/spotify.png" class="inline-img">Spotify</a></li>
                                          <li><a href="https://www.youtube.com/channel/UCDbSFU5o7qRaboGYS3lLEtw"><img src="img/icons/youtube.png" class="inline-img">Youtube</a></li>
                                          <li><a href="https://tiktok.com/@neverbeentoberlin"><img src="img/icons/tiktok.png" class="inline-img">Tiktok</a></li>
                                          <li><a href="https://www.facebook.com/NeverBeenToBerlin"><img src="img/icons/facebook.png" class="inline-img">Facebook</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>

                        <!-- MIDNIGHT PHONE CARL -->
                        <li class="col-md-12" data-groups='["mnpc"]'>
                           <h2>Midnight Phone Carl</h2>
                           <p>Test testtest</p>
                        </li>
                        
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- script -->
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/lightbox-plus-jquery.js"></script>
      <script src="js/jquery.shuffle.min.js"></script>
      <script src="js/modernizr.js"></script>
      <script id="filter"  src="js/script.js" default-filter="nbtb"></script>
   </body>
</html>