{% extends "base.html" %}

{% block title %}
MUSIC| Sander Kaatee
{% endblock %}

{% block content %}
<section id="portfolio">
    <div class="container">
        <ul class="portfolio-sorting list-inline text-center">
            <li class="portfolio-menu"><a href="#" data-group="nbtb" class="active">Never Been To Berlin</a></li>
            <li class="portfolio-menu"><a href="#" data-group="mnpc">Midnight Phone Carl</a></li>
            <li class="portfolio-menu"><a href="#" data-group="pc">Punani Collective</a></li>
        </ul>
        <div class="row margin-top-15">
            <div class="row" data-gallery-title="Gallery">
                <ul class="list-unstyled" id="grid">
                    <li class="col-md-12" data-groups='["nbtb"]'>
                        <img class="banner" src="{{ url_for('static', filename='img/nbtb_banner_5_1.jpg') }}" data-groups='["nbtb"]'>
                        <div class="row">
                            <div class="col-md-3">
                                <h2>Biography</h2>
                            </div>
                            <div class="col-md-9">
                                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, quas quasi et similique odio non consequuntur nobis esse quos blanditiis maxime nihil, sint deserunt in placeat consectetur possimus. Suscipit, sapiente. </p>
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ullam quos iste voluptatum fuga doloremque. Ducimus amet dolores porro hic pariatur. Unde quo delectus facere? Corrupti, consequuntur odio. Voluptas, animi? </p>
                            </div>
                        </div>
                        <div class="row margin-top-30">
                            <div class="col-md-3">
                                <h2>Social media / Listen</h2>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">
                                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/5YUMKJYukyjJIoUld2fTiX?utm_source=generator" width="100%" height="380" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-unstyled">
                                            <li><a href="https://www.instagram.com/neverbeentoberlin/"><img src="{{ url_for('static', filename='img/icons/instagram.png') }}" class="inline-img">Instagram</a></li>
                                            <li><a href="https://open.spotify.com/artist/5YUMKJYukyjJIoUld2fTiX?si=AEipB7vnQWOPwUQ5S-lgCQ"><img src="{{ url_for('static', filename='img/icons/spotify.png') }}" class="inline-img">Spotify</a></li>
                                            <li><a href="https://www.youtube.com/channel/UCDbSFU5o7qRaboGYS3lLEtw"><img src="{{ url_for('static', filename='img/icons/youtube.png') }}" class="inline-img">Youtube</a></li>
                                            <li><a href="https://tiktok.com/@neverbeentoberlin"><img src="{{ url_for('static', filename='img/icons/tiktok.png') }}" class="inline-img">Tiktok</a></li>
                                            <li><a href="https://www.facebook.com/NeverBeenToBerlin"><img src="{{ url_for('static', filename='img/icons/facebook.png') }}" class="inline-img">Facebook</a></li>
                                          </ul>                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
    
                    <li class="col-md-12" data-groups='["mnpc"]'>
                        <img class="banner" src="{{ url_for('static', filename='img/nbtb_banner_5_1.jpg') }}" data-groups='["mnpc"]'>
                        <div class="row">
                            <div class="col-md-3">
                                <h2>Biography</h2>
                            </div>
                            <div class="col-md-9">
                                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, quas quasi et similique odio non consequuntur nobis esse quos blanditiis maxime nihil, sint deserunt in placeat consectetur possimus. Suscipit, sapiente. </p>
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ullam quos iste voluptatum fuga doloremque. Ducimus amet dolores porro hic pariatur. Unde quo delectus facere? Corrupti, consequuntur odio. Voluptas, animi? </p>
                            </div>
                        </div>
                        <div class="row margin-top-30">
                            <div class="col-md-3">
                                <h2>Social media / Listen</h2>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">
                                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/5YUMKJYukyjJIoUld2fTiX?utm_source=generator" width="100%" height="380" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-unstyled">
                                            <li><a href="https://www.instagram.com/neverbeentoberlin/"><img src="{{ url_for('static', filename='img/icons/instagram.png') }}" class="inline-img">Instagram</a></li>
                                            <li><a href="https://open.spotify.com/artist/5YUMKJYukyjJIoUld2fTiX?si=AEipB7vnQWOPwUQ5S-lgCQ"><img src="{{ url_for('static', filename='img/icons/spotify.png') }}" class="inline-img">Spotify</a></li>
                                            <li><a href="https://www.youtube.com/channel/UCDbSFU5o7qRaboGYS3lLEtw"><img src="{{ url_for('static', filename='img/icons/youtube.png') }}" class="inline-img">Youtube</a></li>
                                            <li><a href="https://tiktok.com/@neverbeentoberlin"><img src="{{ url_for('static', filename='img/icons/tiktok.png') }}" class="inline-img">Tiktok</a></li>
                                            <li><a href="https://www.facebook.com/NeverBeenToBerlin"><img src="{{ url_for('static', filename='img/icons/facebook.png') }}" class="inline-img">Facebook</a></li>
                                          </ul>                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>    
</section>
{% endblock %}

{% block scripts %}
<script id="filter">
    shuffleme.setDefaultFilter("nbtb");
    shuffleme.init();
</script>
<script src="{{ url_for('static', filename='js/lightbox-plus-jquery.js') }}"></script>
{% endblock %}