<img class="banner" src="{{ url_for('static', filename='img/nbtb_banner_5_1.jpg') }}" data-groups='["nbtb"]'>
<div class="row margin-top-30">
    <div class="col-md-3">
        <h2>Biography</h2>
    </div>
    <div class="col-md-9">
        <p>Never Been to Berlin is an electronic live act duo by Goya Buitenhuis and me. We make English-language dance music that draws inspiration from a wide spectrum of genres.</p>

        <p>We started working on this project in the summer of 2019. Our debut album, 'Aha-Erlebnis,' was released 2020. In 2022, we unveiled our EP 'Junction,'. In September 2023 we released our EP 'One Step Back'.</p>
        
        <p>So far we've done a bunch of live shows across the Netherlands and Europe. From Grasnapolsky to Bevrijdingsfestival Groningen, we always aim to turn every show into an unforgettable experience.</p>
                                    </div>
</div>
<div class="row margin-top-30">
    <div class="col-md-3">
        <h2>Social media / Listen</h2>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/5YUMKJYukyjJIoUld2fTiX?utm_source=generator" width="100%" height="380" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="https://www.instagram.com/neverbeentoberlin/"><img src="{{ url_for('static', filename='img/icons/instagram.png') }}" class="inline-img">Instagram</a></li>
                    <li><a href="https://open.spotify.com/artist/5YUMKJYukyjJIoUld2fTiX?si=AEipB7vnQWOPwUQ5S-lgCQ"><img src="{{ url_for('static', filename='img/icons/spotify.png') }}" class="inline-img">Spotify</a></li>
                    <li><a href="https://www.youtube.com/channel/UCDbSFU5o7qRaboGYS3lLEtw"><img src="{{ url_for('static', filename='img/icons/youtube.png') }}" class="inline-img">Youtube</a></li>
                    <li><a href="https://tiktok.com/@neverbeentoberlin"><img src="{{ url_for('static', filename='img/icons/tiktok.png') }}" class="inline-img">Tiktok</a></li>
                  </ul>                                          
            </div>
        </div>
    </div>
</div>