{% extends "base.html" %}

{% block title %}
  Under Construction | Sander Kaatee
{% endblock %}

{% block content %}
  <section id="under-construction">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Under Construction</h1>
          <h3>This page is not finished yet, sorry :(</h3>
          <br>
          <img src="{{ url_for('static', filename='img/underconstruction.png') }}" alt="Under Construction" width="500" height="480">
        </div>
      </div>
    </div>
  </section>
{% endblock %}
