{% extends "base.html" %}

{% block title %}
PROJECTS | Sander Kaatee
{% endblock %}

{% block content %}
<section id="portfolio">
    <div class="container">
        <ul class="portfolio-sorting list-inline text-center">
            <li class="portfolio-menu"><a href="#" data-group="web" class="active">This Website</a></li>
            <li class="portfolio-menu"><a href="#" data-group="acg">Automatic Content Generation</a></li>
        </ul>
        <div class="container">
            <div class="row" data-gallery-title="Gallery">
                <ul class="list-unstyled" id="grid">

                    {% include 'projectshtml/web.html' %}
                    {% include 'projectshtml/acg.html' %}
                    
                </ul>
            </div>
        </div>
    </div>    
</section>
{% endblock %}

{% block scripts %}
<script id="filter">
    shuffleme.setDefaultFilter("web");
    shuffleme.init();
</script>
<script src="{{ url_for('static', filename='js/lightbox-plus-jquery.js') }}"></script>
{% endblock %}