<!-- NEVER BEEN TO BERLIN -->
<li class="col-md-12" data-groups='["gally"]'>
    <!-- <img class="banner" src="{{ url_for('static', filename='img/nbtb_banner_5_1.jpg') }}" data-groups='["gally"]'> -->
    <div class="row margin-top-30">
        <div class="col-md-3">
            <h2>Biography</h2>
        </div>
        <div class="col-md-9">
            <p>Gally is a project by Jondar van Loon which I've, so far, been the main producer for. Apart from the production of the songs I also support Gally with some of the management aspects of being a musician.</p>
                                        </div>
    </div>
    <div class="row margin-top-30">
        <div class="col-md-3">
            <h2>Social media / Listen</h2>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/6a4Vi8fZWucdWNPtIMfEzk?utm_source=generator" width="100%" height="380" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li><a href="https://www.instagram.com/_gally.gtown_/"><img src="{{ url_for('static', filename='img/icons/instagram.png') }}" class="inline-img">Instagram</a></li>
                        <li><a href="https://open.spotify.com/artist/6a4Vi8fZWucdWNPtIMfEzk"><img src="{{ url_for('static', filename='img/icons/spotify.png') }}" class="inline-img">Spotify</a></li>
                        <li><a href="https://www.youtube.com/channel/UC5E4vJgAo2vrbjWbpRZmA6w"><img src="{{ url_for('static', filename='img/icons/youtube.png') }}" class="inline-img">Youtube</a></li>
                        <li><a href="https://www.tiktok.com/@050gally"><img src="{{ url_for('static', filename='img/icons/tiktok.png') }}" class="inline-img">Tiktok</a></li>
                      </ul>                                          
                </div>
            </div>
        </div>
    </div>
</li>