<!-- Midnight Phone Carl -->
<li class="col-md-12" data-groups='["mnpc"]'>
    <img class="banner" src="{{ url_for('static', filename='img/mnpc_banner.jpg') }}" data-groups='["mnpc"]'>
    <div class="row margin-top-30">
        <div class="col-md-3">
            <h2>Biography</h2>
        </div>
        <div class="col-md-9">
            <p> Midnight Phone Carl was a solo project I worked on while I was suffering from depression during the pandemic. Not being allowed to perform live influenced my music to be softer and more focussed on a solo listening experience. I have not worked on this project for a while since it did not get a lot of attention, perhaps in the future I will get back into the vibe for this again.</p>
        </div>
    </div>
    <div class="row margin-top-30">
        <div class="col-md-3">
            <h2>Social media / Listen</h2>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/2Jz1RnxeV9hlCyTf2OUAIL?utm_source=generator" width="100%" height="380" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li><a href="https://www.instagram.com/midnight_phone_carl/"><img src="{{ url_for('static', filename='img/icons/instagram.png') }}" class="inline-img">Instagram</a></li>
                        <li><a href="https://open.spotify.com/artist/2Jz1RnxeV9hlCyTf2OUAIL"><img src="{{ url_for('static', filename='img/icons/spotify.png') }}" class="inline-img">Spotify</a></li>
                </div>
            </div>
        </div>
    </div>
</li>