<!-- NEVER BEEN TO BERLIN -->
<li class="col-md-12" data-groups='["web"]'>
    <div class="row margin-top-30">
        <div class="col-md-3">
            <h2>Description</h2>
        </div>
        <div class="col-md-9">
            <p>One of my projects is this very website you are currently browsing through.</p>
        </div>
    </div>
    <div class="row margin-top-30">
        <div class="col-md-3">
            <h2>Technology used</h2>
        </div>
        <div class="col-md-9">
            <p>The website is written in <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a> for the formatting. <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> is used for the functionality (like the menu animations for example).</p>

            <p>The website is hosted on a VPS by <a href="https://www.vultr.com/">Vultr</a>, the domain name is provided by <a href="https://www.namecheap.com/">Namecheap</a>.</p>
        
            <p>I host using <a href="https://nginx.org/">nginx</a> on a <a href="https://www.debian.org/">Debian</a> server, the backend is written in <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a> and thus I use <a href="https://gunicorn.org/">gunicorn</a> to run the website.</p>
        
            <p>I did everything myself, however the HTML, CSS, and JavaScript are adjusted from a template by <a href="https://dribbble.com/nicolatolin">Nicola Tolin</a>, which you can read about in my <a href="{{ url_for('credits') }}">credits section</a>.</p>
        </div>
    </div>
</li>